<div class="col-md-12">
	<div class="col-md-8 col-md-offset-2">
		<alert ng-repeat="alert in mAdminAlerts" type="{{alert.type}}"
					 close="closeAlert($index)" class="animate-fade"
					 style="width: 100%">{{alert.msg}}
		</alert>
		<tabset justified="true">
			<tab heading="Organisationsstruktur">
				<div class="panel panel-default margin-top">
					<div class="panel-heading">
						Upload ny organisationsstruktur
					</div>
					<div class="panel-body">
						<p>Her kan du uploade en ny JSON-fil med organisationsstruktur.</p>

						<p>Klik <a target="_blank" href="/miraclekoebing.json">her</a> for et eksempel på den struktur og de informationer, som JSON-filen skal indeholde.</p>

						<p>Bemærk: Organisationsenheder, der ikke findes i filen vil blive slettet ved opdatering.</p>

						<form>
							<div class="form-group">
								<label for="orgFileInput">Vælg fil</label>
								<input type="file" id="orgFileInput" file-model="uploadFile" multiple>
							</div>
							<div class="text-right">
								<button type="button" class="btn btn-default" ng-click="upload()"><span class="glyphicon glyphicon-upload"></span> Upload</button>
							</div>
						</form>
					</div>
				</div>
			</tab>
			<tab heading="Kommunespecifik KLE">
				<div class="panel panel-default margin-top">
					<div class="panel-heading">Kommunespecifikke KLE'er</div>
					<div class="panel-body">
						<p>
							Her kan du oprette og vedligeholde kommunespecifikke KLE'er. <br/>
							Du kan oprette <strong>grupper</strong> og <strong>emner</strong> i spændet 80-99.
						</p>
						<p>
							Skulle der være sammenfald mellem kommunespecifik gruppe eller et emne,
							mens der opdateres KLE systembredt, vil det kommunespecifikke blive slettet.
						</p>
						<table class="table table-hover" style="table-layout: fixed">
							<thead>
							<tr>
								<th style="width: 70px">Nummer</th>
								<th style="width: 70px">Titel</th>
								<th style="width: 70px">Beskrivelse</th>
								<th style="width: 100px"></th>
							</tr>
							</thead>
							<tbody ng-repeat="kle in kles">
							<tr>
								<td>{{ kle.number }}</td>
								<td popover-trigger="mouseenter" popover="{{ kle.name }}" popover-append-to-body="true">
									{{ kle.name | limitTo: 40 }}{{ kle.name.length &gt; 40 ? '&hellip;' : ''}}
								</td>
								<td style="overflow: hidden; white-space: nowrap"
										popover-trigger="mouseenter" popover="{{ kle.serviceText }}" popover-append-to-body="true">
									{{ kle.serviceText | limitTo: 50 }}{{ kle.serviceText.length &gt; 50 ? '&hellip;' : ''}}
								</td>
								<td>
									<button ng-click="editKle(kle)" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Rediger</button>
									<button ng-click="deleteKle(kle)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Slet</button>
								</td>
							</tr>
							</tbody>
						</table>
						<div class="actions">
							<div class="text-right">
								<button class="btn btn-default" ng-click="addKle()"><span class="glyphicon glyphicon-plus"></span> Tilføj KLE</button>
							</div>
						</div>
					</div>
				</div>
			</tab>
			<tab heading="API nøgle">
				<div class="panel panel-default margin-top">
					<div class="panel-heading">
						Vedligehold API key
					</div>
					<div class="panel-body">
						<p>
							Her kan du vedligeholde den API key, som er påkrævet for at kalde /api-endpointet.
						</p>

						<div class="actions">
							<div class="text-right">
								<button class="btn btn-default" ng-click="editApiKey()"><span class="glyphicon glyphicon-edit"></span> Rediger API key</button>
							</div>
						</div>
					</div>
				</div>
			</tab>
			<tab heading="Dato-parametre">
				<div class="panel panel-default margin-top">
					<div class="panel-heading">
						Vedligehold dato-parametre
					</div>
					<div class="panel-body">
						<p>
							Her kan du vedligeholde navnene på de parametre, som sendes med i API-kald og benyttes til datofordeling.
						</p>

						<p>
							<b>NB:</b> Hvis ingen navne er angivet, så vil parameternavnet "dato" være tilgængelig ved oprettelse af udvidede fordelingsregler.
						</p>

						<table class="table table-hover" style="table-layout: auto">
							<thead>
							<tr>
								<th style="width: 400px">Navn</th>
								<th style="width: 200px"></th>
							</tr>
							</thead>
							<tbody>
								<tr ng-repeat="dateParam in dateParameters | filter: idFilter">
									<td>{{ dateParam.name }}
										<span ng-show="dateParam.defaultName"
										      class="glyphicon glyphicon-exclamation-sign"
										      style="color:lightskyblue"
										      popover-trigger="mouseenter" popover-append-to-body="true"
										      popover="Dette parameternavn er default"></span>
									</td>
									<td align="right">
										<button type="button" class="btn btn-primary" ng-hide="dateParam.defaultName" ng-click="setDefaultDateParameter(dateParam)"><span class="glyphicon glyphicon-ok"></span> Vælg som default</button>
										<button type="button" class="btn btn-primary" ng-click="editParameter(dateParam)"><span class="glyphicon glyphicon-edit"></span> Rediger</button>
										<button type="button" class="btn btn-danger" ng-click="deleteDateParameter(dateParam)"><span class="glyphicon glyphicon-remove"></span> Slet</button>
									</td>
								</tr>
							</tbody>
						</table>

						<div class="actions">
							<div class="text-right">
								<button type="button" class="btn btn-default" ng-click="addDateParameter()"><span class="glyphicon glyphicon-plus"></span> Tilføj parameter</button>
							</div>
						</div>
					</div>
				</div>
			</tab>
			<tab heading="Tekst-parametre">
				<div class="panel panel-default margin-top">
					<div class="panel-heading">
						Vedligehold tekst-parametre
					</div>
					<div class="panel-body">
						<p>
							Her kan du vedligeholde navnene på de parametre, som sendes med i API-kald og benyttes til tekstfordeling.
						</p>

						<p>
							<b>NB:</b> Hvis ingen navne er angivet, så vil parameternavnet "tekst" være tilgængelig ved oprettelse af udvidede fordelingsregler.
						</p>

						<table class="table table-hover" style="table-layout: fixed">
							<thead>
							<tr>
								<th style="width: 400px">Navn</th>
								<th style="width: 200px"></th>
							</tr>
							</thead>
							<tbody>
								<tr ng-repeat="textParam in textParameters | filter: idFilter">
									<td>{{ textParam.name }}
											<span ng-show="textParam.defaultName"
											      class="glyphicon glyphicon-exclamation-sign"
											      style="color:lightskyblue"
											      popover-trigger="mouseenter" popover-append-to-body="true"
											      popover="Dette parameternavn er default"></span>
									</td>
									<td align="right">
										<button type="button" class="btn btn-primary" ng-hide="textParam.defaultName" ng-click="setDefaultTextParameter(textParam)"><span class="glyphicon glyphicon-ok"></span> Vælg som default</button>
										<button type="button" class="btn btn-primary" ng-click="editParameter(textParam)"><span class="glyphicon glyphicon-edit"></span> Rediger</button>
										<button type="button" class="btn btn-danger" ng-click="deleteTextParameter(textParam)"><span class="glyphicon glyphicon-remove"></span> Slet</button>
									</td>
								</tr>
							</tbody>
						</table>

						<div class="actions">
							<div class="text-right">
								<button type="button" class="btn btn-default" ng-click="addTextParameter()"><span class="glyphicon glyphicon-plus"></span> Tilføj parameter</button>
							</div>
						</div>
					</div>
				</div>
			</tab>
			<tab heading="Log" ng-click="getAuditLogs()">
				<div class="panel panel-default margin-top">
					<div class="panel-heading">
						Hændelseslog
					</div>

					<div class="panel-body">
						<a ng-disabled="!logDownloadLink" class="btn btn-primary" download="auditlog.json" href="{{logDownloadLink}}">
							<span class="glyphicon glyphicon-download"></span> Hent log (JSON)
						</a>

						<a ng-disabled="!csvLogDownloadLink" class="btn btn-primary" download="auditlog.csv" href="{{csvLogDownloadLink}}">
							<span class="glyphicon glyphicon-download"></span> Hent log (CSV)
						</a>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
</div>
