<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <div ng-show="!user.loggedIn">
            <div class="page-header">
                <h1>Du er ikke logget ind -
                    <small>vælg en identity provider nedenfor.</small>
                </h1>
            </div>

            <div class="panel panel-default ng-cloak">
                <div class="panel-body">
                    <div class="form-inline">
                         <a href="{{loginUrl}}" >
                             <button class="btn btn-primary btn-lg ng-cloak">Login</button>
                         </a>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="user.loggedIn">
            <div class="jumbotron ng-cloak">
                <h1>Du er allerede logget ind.</h1>
                <p>Du er logget ind som <i>{{user.name}}</i>.</p>
                <p>Hvis du ønsker at skifte bruger, kan du logge ud i menuen i toppen af siden, eller ved at klikke
                    her:</p>

                <button type="button" class="btn btn-primary" ng-click="logoutUser()">Log ud</button>
            </div>
        </div>
        
		<div ng-view class="container-fluid slide-animation admin-content main-content">
			<div class="row">
				<div style="padding-top:20px">
					<div id="messages">
						<alert ng-repeat="alert in alerts" type="{{alert.type}}"
							   close="closeAlert($index)" class="animate-fade"
							   style="width: 100%">{{alert.msg}}
						</alert>
					</div>
					<div ui-view></div>
				</div>
			</div>
		</div>

        <hr/>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div style="height: 114px;">
                            <img src="/assets/os2logo.png"/>
                        </div>
                        <ul>
                            <li>OS2opgavefordeler kan håndtere fordeling/ansvar af kommunale opgaver (udtrykt i KLE)
                                og en primær organisation (eks. LOS, AD eller ESDH). Derudover kan den håndtere
                                relationer mellem den primære organisation (eks. LOS) og et antal sekundære
                                organisationer (eks. ESDH og AD).
                            </li>
                            <li>OS2opgavefordeler er oprindeligt udviklet som en lokal prototype i Syddjurs Kommune
                                til håndtering af automatisk postdistribution sammen med OS2KLE, men den kan også
                                anvendes til hjemmesider, Intranet og IDM.
                            </li>
                            <li>OS2opgavefordeler handler om en kommunes forbindelse mellem KLE-numre og den
                                entitet, der håndterer det pågældende emne, hvad enten det er en afdeling eller en
                                medarbejder.
                            </li>
                            <li>KLE-numre kommer fra KL og indlæses af sysadmin. KLE-strukturen er fælles for alle
                                kommuner.
                            </li>
                            <li>Kommuner og Organisationsstruktur. Hver kommune oprettes som
                                selvstændig enhed i applikationen. De har administratorer, som
                                vedligeholder kommunens organisationsstruktur og har derudover
                                brugere, der vedligeholder mapning mellem KLE-numre og
                                afdelinger eller medarbejdere.
                            </li>
                            <li>REST interface Oplysninger om hvem der håndterer KLE-numre for
                                en kommune, kan trækkes via REST/JSON til brug ved integration.
                            </li>
                        </ul>
                    </div>
                </div><!-- End Row -->
                <div ng-view class="row">
                	<div class="col-md-12">
                		<h3>Igangværende udvikling på OS2opgavefordeler</h3>
					
						<div id="activeSprints" ng-repeat="sprint in activeSprints">
							<h4 class="inline" >{{sprint.name}}</h4>
							
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>
											<th class="col-sm-1">Jira-link</th>
											<th class="col-sm-11">Beskrivelse</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="task in sprint.tasks">
											<td>
												<a href="{{browseUrl}}{{task.key}}" target="_BLANK" >{{task.key}}</a>
											</td>
											<td style="white-space: normal; word-wrap: break-word;">{{task.summary}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<h3>Lukkede udviklingsopgaver på OS2opgavefordeler</h3>

						<div id="closedSprints" ng-repeat="sprint in closedSprints">
							<h4 data-toggle="collapse" data-target="#sprint{{sprint.id}}">
								<em class="fa fa-caret-right"></em>
								<span style="padding-left: 5px;">{{sprint.name}}</span>
								<span style="padding-left: 10px;">({{sprint.endDate| date:'yyyy/MM/dd'}})</span>
							</h4>
				
							<div id="sprint{{sprint.id}}" class="collapse">
								<table class="table table-striped">
									<thead>
										<tr>
											<th class="col-sm-1">Jira-link</th>
											<th class="col-sm-11">Beskrivelse</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="task in sprint.tasks">
											<td>
												<a href="{{browseUrl}}{{task.key}}" target="_BLANK">{{task.key}}</a>
											</td>
											<td style="white-space: normal; word-wrap: break-word;">{{task.summary}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						
                	</div><!-- End Column md 12 -->
                </div><!-- End Panel -->
            </div><!-- End Panel Body -->
        </div><!-- End Panel -->


    </div>
    <div class="col-md-2"></div>
    
</div>
