<div ng-controller="ShellCtrl as vm">
	<div id="adminNavBar" class="navbar navbar-inverse navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" ng-init="navCollapsed = true"
								ng-click="navCollapsed = !navCollapsed" class="navbar-toggle"
								data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ui-sref="home">
					<i class="icon-home"></i>
					<span>OS2opgavefordeler</span>
				</a>
			</div>
			<div class="collapse navbar-collapse" ng-class="{'in': !navCollapsed}">
				<ul class="nav navbar-nav">
					<li ng-show="user.loggedIn" ng-class="{ active: $state.is('home') }">
						<a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="home">Distributionsregler</a>
					</li>
					<li ng-show="user.currentRole.municipalityAdmin" ng-class="{ active: $state.is('municipalityAdmin') }">
						<a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="municipalityAdmin">Administrer kommune</a>
					</li>
					<li ng-show="user.currentRole.kleAssigner" ng-class="{ active: $state.is('kleadmin') }">
						<a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="kleadmin">Organisationsopmærkning</a>
					</li>
				</ul>
				<ul ng-show="user.loggedIn" class="nav navbar-nav navbar-right ng-cloak">
					<li class="active dropdown" dropdown>
						<a href="#" class="dropdown-toggle" dropdown-toggle>
							<span class="glyphicon glyphicon-user"></span> {{ user.currentRole.substitute ? user.name + ' (' + user.currentRole.name + ')' : user.currentRole.name }}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li ng-repeat="role in user.roles" class="{{role == user.currentRole ? 'disabled':''}}">
								<a href="" ng-click="changeRole(role)" >{{ role.name }}</a>
                                                                <ul ng-show="role == user.currentRole">
									<li ng-show="user.currentRole.municipalityAdmin">Administrator</li>
                                                                        <li ng-show="user.currentRole.postDistributor">Postfordeler</li>
                                                                        <li ng-show="user.currentRole.kleAssigner">KLE opmærker</li>
								</ul>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="" ng-click="logoutUser()"><span class="glyphicon glyphicon-off"></span> Log ud</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div ng-show="vm.showSpinner" class="page-splash dissolve-animation">
		<div data-spinner="vm.spinnerOptions"></div>
		<div class="page-splash-message page-splash-message-subtle">
			{{vm.spinnerMessage}}
		</div>
	</div>

	<div id="ng-view" class="container-fluid slide-animation admin-content main-content">
		<div class="row">
			<div style="padding-top:20px">
				<div id="messages" style="padding-left:70px">
					<alert ng-repeat="alert in alerts" type="{{alert.type}}"
						   close="closeAlert($index)" class="animate-fade"
						   style="width: 100%">{{alert.msg}}
					</alert>
				</div>
				<div ui-view></div>
			</div>
		</div>
	</div>
</div>
