@import 'animations';
@import 'kle-admin';

.main-content {
	//margin-top: 50px;
}

.table {
	td, th {
		white-space: nowrap;

		&.button {
			padding: 4px;
		}
	}
	
	td.inherited {
		font-style: italic;
		color: #777777;
	}
}

#footer {
	padding-bottom: 10px;
}

.padded-top {
	padding-top: 20px;
}

.padded-bottom {
	padding-bottom: 20px;
}

.padded-left {
	padding-left: 20px;
}

.margin-top {
	margin-top: 20px;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

.group > td.indent {
	padding-left: 1.4em
}

.topic > td.indent {
	padding-left: 2.4em
}

button.btn.btn-default.toggle-side {
	height: 87vh;
	border-radius: 5px;
	&:hover, &.active:hover, &:active, &:focus {
		background-color: #FFF;
	}
}

.btn {
	&:focus, &:active:focus, &.active:focus {
		outline:none;
		box-shadow:none;
	}
}

.modal-body {
	max-height: 80vh;
	overflow-y: auto;
}

.modal-footer {
	.alert {
		text-align: left;
	}
}

.large-tooltip {
	.tooltip-inner {
		text-align: left;
		max-width: 100vw;
	}
}

.hover {
	cursor: pointer;
}

// SPINNER
.page-splash {
	z-index: 99999 !important;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #424040;
	opacity: .9;
	pointer-events: auto;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}

.page-splash-message {
	text-align: center;
	margin: 20% auto 0 auto;
	font-size: 400%;
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
	font-weight: normal;
	-webkit-text-shadow: 2px 2px #000000;
	text-shadow: 2px 2px #000000;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
	text-transform: uppercase;
	text-decoration: none;
	/*color: #F58A00;*/
	color: #efb73e;
	padding: 0;
}

